.inline-row > *{
    display: inline-block;
}


/* Bootstrap styles */
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}