.handler-builder {
    width: 100%;
    background-color: #fff;

    .drop-placeholder {
        width :100%;
        padding-top: 140px;
        padding-bottom: 140px;
        text-align: center;
        border: 1px dashed grey;

        &.non-empty {
            padding-top: 40px !important;
            padding-bottom: 40px !important;
        }

        &.drop-enabled {
            background-color: yellow;
        }

        &.drop-hover {
            background-color: yellowgreen;
        }

        &.drop-disabled {
            background-color: red;
        }
    }

    .droppable {
        width:100%;
        min-width: 300px;
    }

    .draggable-panel-title {
        display: inline-block;
        width: calc(100% - 5px);

        .fa-arrows-alt {
            margin-right: 5px;
        }

        .p-checkbox {
            margin-left: 15px;
        }

        .fa-trash {
            color: red;
            cursor: pointer;
        }

        .fa-exclamation-triangle {
            margin-right: 8px;
            color: orange;
        }
    }

    .filters-group {
        padding-left: 30px;
    }
}

.drop-item-container {
    .header {
        height: 42px;
        padding-left: 15px;
        border: 1px solid #dee2e6;

        .pi {
            font-weight: bold;
        }

        .title {
            font-size: 18px;
            font-weight: bold;
            padding: 12px 20px 8px 5px;
            display: inline-block;
        }

        .info {
            font-size: 12px;
        }
    }

    .items-container {
        height: calc(100vh - 206px);
        overflow: auto;
    }
}

.error-block {
    color: #f00
}