.action-group {
    border: 1px solid grey;
    margin-bottom: 15px;

    .group-title {
        width: 100%;
        margin-bottom: 5px;
        padding: 5px;
        background-color: #eaeaea;
        color: #796f6f;
        font-weight: bold;
    }
}
