.page-edit-handler {
    .edit-handler-container {
        width: 100%;
        min-height: calc(100vh - 200px);
        overflow: auto;

        .controls-panel {
            min-height: calc(100vh - 200px);
            float: left;
            width: 300px;
        }

        .body-panel {
            min-height: calc(100vh - 200px);
            float: right;
            width: calc(100% - 305px);
        }
    }

    .fa-pencil-alt {
        margin-left: 5px;
    }
}

.handler-name {
    .p-inplace-display {
        padding: 0 !important;
    }

    .edit-name {
        width: 450px;
        height: 34px;
    }

    h3 {
        margin: 0
    }
}

.handler-desc-cntr {
    width: 100%;
    padding-top: 10px;

    .handler-desc {
        .edit-desc {
            width: calc(100% - 35px);
        }
    }
}