// Button styles
button.p-button {
    height: 32px;
    margin: 1px 3px;

    &.p-button-icon-only {
        width: 2em;
    }

    .p-button-text {
        padding: 2.5px 15px 4px 30px !important;
    }
}
