.p-menubar-start {
    span.fa {
        font-size: 22px;
        margin-right: 8px;
        font-weight: bold;
    }

    span.title {
        font-weight: bold;
        font-size: 20px;
    }
}

.incognito-error {
    font-size: 26px;
    margin-right: 8px;
    color: red;
}
